body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

header {
    background: #f0f0f0;
    color: black;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #df4adf;
}

#payment-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
    background: #df4adf;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #5469d4;
}

.checkout-container {
    margin: 20px auto;
    background-color: skyblue;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    color: brown;
}

p {
    font-size: 18px;
    margin: 10px 0;
    color: brown;
}

#paypal-button-container {
    margin-top: 20px;
}


/* Responsive Design */

@media (max-width: 500px) {
    .checkout-container {
        width: 90%;
    }
}