body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #f0f0f0;
    color: black;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #df4adf;
}

#logout-btn {
    background: #df4adf;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#logout-btn:hover {
    background: #c038c0;
    transform: scale(1.05);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.wishlist-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wishlist-item img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.wishlist-item h3 {
    margin: 0;
    font-size: 18px;
}

.wishlist-item p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.wishlist-item button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.wishlist-item button:hover {
    background-color: #e64a2e;
}

.wishlist-item button:focus {
    outline: none;
}

.wishlist-item button:active {
    background-color: #cc3d20;
}